[project]
	description = To make choice of eating
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chamrong Chhun (chhunplanb)
[access "refs/for/refs/*"]
	read = group user/Chamrong Chhun (chhunplanb)
	push = group user/Chamrong Chhun (chhunplanb)
	label-Code-Review = -2..+2 group user/Chamrong Chhun (chhunplanb)
	label-Verified = -1..+1 group user/Chamrong Chhun (chhunplanb)
	rebase = group user/Chamrong Chhun (chhunplanb)
	removeReviewer = group user/Chamrong Chhun (chhunplanb)
	submit = group user/Chamrong Chhun (chhunplanb)
[access "refs/heads/*"]
	read = group user/Chamrong Chhun (chhunplanb)
	create = group user/Chamrong Chhun (chhunplanb)
	push = +force group user/Chamrong Chhun (chhunplanb)
	pushMerge = group user/Chamrong Chhun (chhunplanb)
[access "refs/tags/*"]
	push = +force group user/Chamrong Chhun (chhunplanb)
	pushTag = group user/Chamrong Chhun (chhunplanb)
	pushSignedTag = group user/Chamrong Chhun (chhunplanb)
